<mat-sidenav-container class="sidenav">
  <mat-sidenav position="end" class="sidenav__aside" mode="over" #aside
    >Aside menu</mat-sidenav
  >
  <mat-sidenav-content class="sidenav__content">
    <!-- heaader -->
    <app-header
      [isLoggedIn]="isLoggedIn"
      (toggleSidebar)="aside.toggle()"
      (logout)="logout()"
    ></app-header>

    <!-- content -->
    <section class="sidenav__main-content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
