<ng-container class="no__accounts" *ngIf="!accounts?.length">
  <div class="no__accounts__info">
    <div class="no__accounts-icon">
      <mat-icon>error_outline</mat-icon>
    </div>
    <h2 class="no__accounts-message">No active accounts yet</h2>
  </div>
</ng-container>
<div
  class="account"
  *ngFor="let account of accounts; let i = index"
  [ngClass]="{
    active: i === getActiveAccountIndex()
  }"
  (click)="setActiveAccountIndex(i)"
>
  <div class="account__content">
    <div class="account__content-left">
      <span class="account__type">{{ account.title }}</span>
      <span class="account__amount">{{ account.amount }}</span>
    </div>
    <div class="account__content-right">
      <span class="account__currency">{{ account.currency }}</span>
    </div>
  </div>
</div>
