<app-spinner *ngIf="isVisible"></app-spinner>
<div class="dashboard">
  <div class="dashboard__accounts">
    <app-account
      *ngIf="accounts"
      [accounts]="accounts"
      (getActiveAccountID)="getActiveAccountID($event)"
    ></app-account>
  </div>
  <div class="dashboard__main-wrapper">
    <!--  -->
    <div class="dashboard__transactions">
      <app-transactions
        *ngIf="transactionsResponce"
        [transactionsResponce]="transactionsResponce"
      ></app-transactions>
    </div>
    <div class="dashboard__actions">
      <app-actions></app-actions>
    </div>
    <!--  -->
  </div>
</div>
