@use "../../../variables.scss" as vars;
.dashboard {
  background: #eceded;
  margin: 2em auto 0;
  width: 95%;
  display: flex;
  justify-content: space-between;

  > div {
    width: 100%;
  }

  &__accounts {
    max-width: 25%;
  }

  &__main-wrapper {
    max-width: 70%;
    display: flex;
    justify-content: space-between;

    > div {
      width: 100%;
    }

    @media screen and (max-width: vars.$lg) {
      flex-direction: column;
      flex-direction: column-reverse;

      > div {
        flex: 1;
        max-width: 100%;
      }
    }
  }

  &__transactions {
    max-width: 71.5%;
    display: flex;
    > * {
      width: 100%;
    }
  }

  &__actions {
    max-width: 21.5%;
  }

  @media screen and (max-width: vars.$lg) {
    flex-direction: column;

    > div {
      flex: 1;
      max-width: 100%;
    }
  }
}
