<div class="custom-card">
  <div class="custom-card__left">
    <span class="custom-card__left-transaction-main-category">Purpose</span>
  </div>
  <div class="custom-card__center">
    <div class="custom-card__center-top">Title of Transaction</div>
    <div class="custom-card__center-bottom">
      <mat-icon>arrow_downward</mat-icon>
      <span>Income</span>
      <mat-icon>arrow_upward</mat-icon>
      <span>Expense</span>
      <mat-icon>lens</mat-icon>
      <span>Date</span>
      <mat-icon>lens</mat-icon>
      <span>John Wick</span>
    </div>
  </div>
  <div class="custom-card__right">
    <span>+123.45$</span>
  </div>
</div>
