<div class="action__btns">
  <div class="action__btns-upper">
    <div class="action__btn">
      <mat-icon class="action__btn-icon income">arrow_downward</mat-icon>
      <span class="action__btn-text">Income</span>
    </div>

    <div class="action__btn">
      <mat-icon class="action__btn-icon expense">arrow_upward</mat-icon>
      <span class="action__btn-text">Expense</span>
    </div>

    <div class="action__btn add" (click)="openDialog('transaction')">
      <mat-icon class="action__btn-icon add">add</mat-icon>
      <span class="action__btn-text">Add transaction</span>
    </div>

    <div class="action__btn add">
      <mat-icon class="action__btn-icon add">add</mat-icon>
      <span class="action__btn-text">Add account</span>
    </div>
  </div>

  <div class="action__btns-lower">
    <div class="action__btn add">
      <mat-icon class="action__btn-icon" svgIcon="piggy"></mat-icon>
      <span class="action__btn-text">Add Piggy Bank</span>
    </div>

    <div class="action__btn piggy-btn">
      <mat-icon class="action__btn-icon" svgIcon="piggy"></mat-icon>
      <div class="action__btn-content">
        <span class="action__btn-text">Appartment</span>
        <span class="action__btn-amount">1,520.00 / 4,560.00 $</span>
        <mat-progress-bar
          mode="determinate"
          value="33"
          color="accent"
        ></mat-progress-bar>
      </div>
    </div>

    <div class="action__btn piggy-btn">
      <mat-icon class="action__btn-icon" svgIcon="piggy"></mat-icon>
      <div class="action__btn-content">
        <span class="action__btn-text">Car</span>
        <span class="action__btn-amount">12,587.52 $</span>
        <mat-progress-bar
          mode="determinate"
          value="100"
          color="accent"
        ></mat-progress-bar>
      </div>
    </div>
  </div>
</div>
